<script setup>
import { ref, onMounted, computed, nextTick } from 'vue'
import LightRope from './components/LightRope.vue';
import SnowFlakes from './components/SnowFlakes.vue';

const items = ref([
  { id: 1, name: "alcoMafia", htmlContent: "Алко Мафия", background: "#374a48", icon: "mafia2.png", disabled: false },
  { id: 6, name: "pizaTower", htmlContent: "Пизанская<br>башня", background: "#737462", icon: "galss-tower2.png", disabled: false },
  { id: 7, name: "tablePennis", htmlContent: "Пинг-понг<br>турнир", background: "#8a321a", icon: "ping-pong.png", disabled: false },
  { id: 8, name: "penisGifts", htmlContent: "Пинг-понг<br>с призами", background: "#774f4d", icon: "gift-box.png", disabled: false },
  { id: 10, name: "tupoAlko", htmlContent: "Просто<br>выпить", background: "#f4d9a4", icon: "wine.png", disabled: false, infinite: true },
  { id: 12, name: "overspill", htmlContent: "Не разлей", background: "#97adbb", icon: "beer.png", disabled: false },
  { id: 13, name: "drinkroll", htmlContent: "Пьяная<br>туалетка", background: "#8a6f2c", icon: "toilet.png", disabled: false },
  { id: 14, name: "guesswho", htmlContent: "Кто я?", background: "#87a447", icon: "ask.png", disabled: false },
]);

const gameEnded = ref(false);
const itemSelected = ref(null);
const isLocked = ref(false);

const itemAngle = computed(() => 360 / items.value.length);

const startingAngle = computed(() => {
  return (
    0 - itemAngle.value / 2
  );
})

const onWheelEnd = () => {
  if (!itemSelected.value) {
    return;
  }

  console.log('Wheel ended with itemId: ', itemSelected.value)
  const index = items.value.findIndex(v => v.id === itemSelected.value.id);
  if (index !== -1 && items.value[index] && !items.value[index].infinite) {
    items.value[index].disabled = true;
  }
}
const onWheelStart = () => {
  console.log('Wheel started')
}


const reset = () => {
  itemSelected.value = null;
  document.querySelector(
    `#wheel-container .wheel`
  ).style.transform = `rotate(${startingAngle.value}deg)`;
  console.log('Wheel position resetted');
}
const launchWheel = async () => {
  if (items.value.filter(v => !v.disabled).length === 0) {
    gameEnded.value = true;
    return;
  }

  if (isLocked.value && itemSelected.value != null) {
    return;
  }

  const randId = Math.floor(Math.random() * items.value.length + 1) - 1;
  if (items.value[randId].disabled) {
    launchWheel();
    return;
  }

  isLocked.value = true;
  const wheelResult = randId;
  const wheelElt = document.querySelector(`#wheel-container .wheel`);

  itemSelected.value = items.value[wheelResult];

  wheelElt.style.transform = `rotate(${
    Math.floor(Math.random() * (100 - 10) + 10) * (360 * 3) +
    -(wheelResult) * itemAngle.value -
    itemAngle.value / 2
  }deg)`;
  onWheelStart();
}

const getDegreee = (index) => {
  return itemAngle.value * index;
}

onMounted(() => {
  document.addEventListener('keyup', (ev) => {
    if (ev.key == " " ||
      ev.code == "Space" ||
      ev.keyCode == 32) {
        reset();
        launchWheel();
      }
  });
  nextTick(() => {
    reset();
    document.querySelector(`#wheel-container .wheel`).addEventListener("transitionend", () => {
      isLocked.value = false;
      onWheelEnd();
    });
  })
})

</script>

<template>
  <div class="app">
    <div class="bg"></div>
    <SnowFlakes />
    <LightRope />
    <div id="wheel-container" class="wheel-container">
      <div class="wheel pixel-corners" :style="`transform: rotate(${startingAngle}deg); z-index: 2`">
        <div
          v-for="item, index in items" class="wheel-item"
          :style="`transform: rotate(${getDegreee(index)}deg) skewY(${-(90 - itemAngle)}deg); background-color: ${item.background};`"
          :class="{ 'disabled': item.disabled }"
        >
          <div
            class="content"
            :style="{
              transform: `skewY(${90 - itemAngle}deg) rotate(${
                  itemAngle / 2
                }deg)`
            }"
          >
            <img :src="`/icons/${item.icon}`" alt="">
          </div>
        </div>
      </div>
      <div class="circle pixel-corners" :style="`background-color: white; z-index: 4`"></div>
      <div class="button" @click="reset(); launchWheel()">Крутить колесо</div>
    </div>
    <div class="game-list">
      <div class="top">
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
        <div class="hole"></div>
      </div>
      <div v-for="game in items" class="game">
        <img :src="`/icons/${game.icon}`" :alt="game.name">
        <p v-html="game.htmlContent"></p>
        <div class="cross" v-if="game.disabled"></div>
      </div>
    </div>
    <div class="tree-line"></div>
    <div class="drift-line"></div>
    <div class="drift-line2"></div>
  </div>
</template>
